!!!5
%html
  %title "This is the title"
  %link(href='/stylesheets/app.css' rel='stylesheet' type='text/css')
  %link(script src='/javascripts/app.js')
%body
  .main
    %header.header
      %p this is header
    content
    %footer.footer
      %p footer